@import './variables.scss';

.chat,
.popupChat {
  height: 100%;
  width: 100%;
  position: relative;
}

.sc-chat-window {
  width: 376px;
  height: calc(100% - 120px);
  max-height: 590px;
  box-sizing: border-box;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s ease-in-out;
  border-radius: $windowBorderRadius;

  border: 1px solid $borderColor;
}

.popupChat .sc-chat-window {
  box-shadow: 0px 7px 40px 2px rgba(148, 149, 150, 0.3);
  position: fixed;
  right: 25px;
  bottom: 100px;
}

.sc-chat-window.closed {
  opacity: 0;
  visibility: hidden;
}

.sc-message-list {
  height: 80%;
  overflow-y: auto;
  background-color: white;
  background-size: 100%;
  padding: 40px 0px;
}

.sc-message--me {
  text-align: right;
}

.sc-message--them {
  text-align: left;
}


.joinThreadWindow {
  width: 376px;
  height: calc(100% - 120px);
  max-height: 590px;
  box-sizing: border-box;
  background-color: white;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s ease-in-out;
  border-radius: $windowBorderRadius;

  &:hover {
    // background-color: $threeBoxBlackHover;
  }
}

.popupChat .joinThreadWindow {
  box-shadow: 0px 7px 40px 2px rgba(148, 149, 150, 0.3);
  position: fixed;
  right: 25px;
  bottom: 100px;
}

.chat .joinThreadWindow {
  position: absolute;
  top: 0;
  left: 0;
}

.joinThreadWindow.opened {
  display: flex;
  opacity: 1;
}

.joinThreadWindow.closed {
  opacity: 0;
  visibility: hidden;
}

.joinThreadWindow_wrapper {
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  box-sizing: border-box;

  p {
    margin: 0;
    // font-size: 13px;
    // opacity: .6;
  }
}

.joinThreadWindow_wrapper_header_title {
  color: $threeBoxBlack;
  margin: 0;
  font-size: 36px;
  letter-spacing: .5px;
  font-weight: 800;
}

.joinThreadWindow_wrapper_header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.joinThreadWindow_wrapper_button {
  background-color: $threeBoxBlack;
  padding: 10px 20px;
  border-radius: 35px;
  font-size: 24px;
  font-weight: 700;
  color: white;
  border: none;
  letter-spacing: .5px;
  box-sizing: border-box;
  height: 40px;
  cursor: pointer;
  height: 60px;
  width: 180px;
  transition: 0.3s ease-in-out;
  box-shadow: 0px 0px 35px -7px rgba(0, 0, 0, 0.56);
  opacity: 1;
}

.show.joinThreadWindow_wrapper_button {
  opacity: 0;
}

.joinThreadWindow_wrapper_approve {
  position: absolute;
  bottom: 250px;
  left: calc(50% - 130px);
  color: $lighterFont;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.show.joinThreadWindow_wrapper_approve {
  opacity: 1;
}

.joinThreadWindow_wrapper_image {
  background-color: $threeBoxBlack;
  height: 140px;
  width: 140px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.joinThreadWindow_wrapper_image_pic {
  width: 70px;
  height: auto;
}

.thread_loading {
  min-width: 30px;
  min-height: 30px;
  max-width: 30px;
  max-height: 30px;
  // position: absolute;
  // right: -36px;
  // top: -4px;
}

@media (max-width: 450px) {
  .sc-chat-window {
    width: 100%;
    height: 100%;
    max-height: 100%;
    right: 0px;
    bottom: 0px;
    border-radius: 0px;
  }

  .sc-chat-window {
    transition: 0.1s ease-in-out;
  }

  .sc-chat-window.closed {
    bottom: 0px;
  }
}